amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
boto==2.38.0
chardet==2.3.0
cryptography==1.2.3
duplicity==0.7.6
enum34==1.1.2
Flask==0.10.1
idna==2.0
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
lockfile==0.12.2
MarkupSafe==0.23
ndg-httpsclient==0.4.0
pyasn1==0.1.9
pygobject==3.20.0
pyOpenSSL==0.15.1
python-binary-memcached==0.24.6
python-cloudfiles==1.7.10
pytz==2016.4
pyxdg==0.25
requests==2.9.1
six==1.10.0
tzlocal==1.2.2
urllib3==1.13.1
virtualenv==15.0.1
Werkzeug==0.11.10
