a {
   outline: 0;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-image:url('brillant/brillant.png');
  margin: 0px;
}

#nav {
  font-family: 'Carrois Gothic', sans-serif;
  height: 80px;
  background: #e74c3c;
  transition: background-color 1.5s;
  -webkit-box-shadow: -3px 0px 2px 3px #ccc;
  box-shadow:         -3px 0px 2px 3px #ccc;
}
#nav.new {
  background: #e74c3c;
}
#nav.tec {
  background: #f39c12;
}
#nav.biz {
  background: #f1c319;
}
#nav.rel {
  background: #2ecc71;
}
#nav.spo {
  background: #3498db;
}
#nav.lei {
  background: #2980b9;
}
#nav.muz {
  background: #8e44ad;
}

#title {
  float:left;
  margin: 20px 10px 0px 10px;
  font-size: 42px;
  color: #ffffff;
  cursor: pointer;
}

.category {
  float: left;
  margin: 30px 10px 0px 3%;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  transition: border-color 1.5s;
}
.category.active {
  border-bottom: 5px solid #FFF;
}

  .category:hover {
    color: #000000;
    font-size: 24px;
    cursor: pointer;
  }

#holder {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}


.format {
  font-size: 10px;
  margin: 20px 15px 10px 15px;
  padding: 0px 5px 0px 5px;
  color: #000000;
  -webkit-box-shadow: 0px 0px 10px 3px #ccc;
  box-shadow:         0px 0px 10px 3px #ccc;
}

  .format h1 {
    font-size: 17px;
    color:#2980b9;
  }

  .format a {
    font-size: 12px;
    font-weight: bold;
    color:#2980b9;
    text-decoration: none;
  }

  .format a:visited {
    color:#426A9E;
  }

.entry {
  margin: 5px 0px 5px 0px;
  line-height: 24px;
}

#up {
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  font-size: 72px;
  cursor: pointer;
  font-weight: 900;
}

@media all and (max-width: 1600px) {

    #title {
      font-size: 10;
      position: fixed;
      top: 50px;
      left: 5px;
    }
    
    #nav {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center;
      height: 200px;
    }
  
    .category, .category.active {
      font-size: 150px;
    }
  
  
  
    #holder {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
  
    .format {
      width: 900px;
      font-size: 20px;
  
    }
  
      .format h1 {
          font-size: 36px;
      }
  
      .format a {
          font-size: 28px;
          font-weight: 70000;
          line-height: 88px
  
      }
  
  #up {
    height: 200px;
    width: 200px;
    position: fixed;
    bottom: 5px;
    right: -50px;
    z-index: 10;
    font-size: 180px;
    cursor: pointer;
    font-weight: 900;
  }
  
  
  }