<!DOCTYPE html>
<html>
<head>
<title>Rainbow Reader</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='jgestures.min.js')}}"></script>
<link href='https://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>
<body>
<div id="nav">
	<bold id="title">Rainbow Reader</bold>
	<a href="#news" class="category" id="new">News</a>
	<a href="#technology" class="category" id="tec">Technology</a>
	<a href="#business" class="category" id="biz">Business</a>
	<a href="#religion" class="category" id="rel">Religion</a>
	<a href="#sports" class="category" id="spo">Sports</a>
	<a href="#leisure" class="category" id="lei">Leisure</a>
	<a href="#music" class="category" id="muz">Music</a>
</div>

<div id="holder">
</div>

<div id="up">
    ↑
</div>

<script src="{{ url_for('static', filename='variables.js')}}"></script>
<script>
  //window size check
  if (window.innerWidth <= 1000) {
    $("#title").html('RR');
    for ( var i=0; i < id_array.length; i++) {
        $("#" + id_array[i]).empty().html(replace_letters[i]);
    };
  };
</script>
<script src="{{ url_for('static', filename='AJAX.js')}}"></script>
<script src="{{ url_for('static', filename='navigation.js')}}"></script>
<script src="{{ url_for('static', filename='response.js')}}"></script>
<script src="{{ url_for('static', filename='ready.js')}}"></script>

</body>
</html>
